*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-style: normal;
} .minigame {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background: #000;
  background-image: url("./images/main-image.png");
  background-repeat: no-repeat;
  overflow: hidden;
  /* pointer-events: none; */
} .minigame-lock {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.5s;
} .minigame-lock_active {
  display: block;
  opacity: 0.7;
  z-index: 100;
} .minigame-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
} .minigame-lock__title {
  display: none;
} .minigame-bg {
  /* display: flex; */
  display: none;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  /* background: #000; */
  /* opacity: .7; */
  z-index: 100;
} .minigame-btn {
  padding: 17.5px 30px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 207px;
  gap: 30px;
  cursor: pointer;
  position: absolute;
  left: 250px;
  bottom: 250px;
} .minigame-btn p {
  font-family: 'Evolventa';
  font-weight: 700;
  /* font-size: 16px; */
  line-height: 155%;
  color: #000;
}

.minigame-ship {
  position: absolute;
  top: 52px;
  right: 750px;
  /* left: 369px; */
  width: 800px;
} .crane-block {
  position: relative;
  top: 0;
  left: 0;
  transition: 1s linear;
} .minigame-crane-header {
  position: absolute;
  top: 62px;
  right: 757px;
  z-index: 221;
  pointer-events: none;
} .minigame-crane-footer {
  position: absolute;
  top: 194px;
  right: 852px;
  z-index: 220;
  pointer-events: none;
} .crane-leg {
  position: absolute;
  top: 453px;
  right: 986px;
  z-index: 0;
  pointer-events: none;
} .rope {
  position: absolute;
  top: 100px;
  left: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 219;
  height: 200px;
} .rope-vertical {
  width: 5px;
  height: 100%;
} .rope-container {
  margin-top: -16px;
  margin-right: -6px;
} .ropeStart {
  animation-name: ropeStart;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
} .ropeEnd {
  animation-name: ropeEnd;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}  .ropeStart2 {
  animation-name: ropeStart2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
} .ropeEnd2 {
  animation-name: ropeEnd2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
} .ropeStop {
  animation-play-state: paused;
} .minigame-car {
  position: absolute;
} .minigame-train-block {
  position: relative;
  width: fit-content;
  z-index: 1;
  top: 115px;
  right: -1442px;
  animation-name: trainStart;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 250ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
} .minigame-train { 
  position: absolute;
  top: 0;
  right: -214px;
  z-index: 105;
} .minigame-railway-carriage {
  position: absolute;
  cursor: pointer;
} .railway-carriage-1 {
  top: -56px;
  right: -368px;
  z-index: 3;
} .railway-carriage-2 {
  top: -140px;
  right: -523px;
  z-index: 2;
} .railway-carriage-3 {
  top: -224px;
  right: -677px;
  z-index: 1;
} .minigame-containers-block {
  position: relative;
  top: 421px;
  right: -982px;
  width: 0;
} .minigame-container {
  position: absolute;
  transition: 0.5s;
  cursor: pointer;
} .minigame-container_bg {
  box-shadow: 0px 0px 10px #fff;
} .minigame-container-1 {
  top: 0px;
  right: 417px;
  z-index: 21;
} .minigame-container-2 {
  top: 14px;
  right: 393px;
  z-index: 22;
} .minigame-container-3 {
  top: 29px;
  right: 368px;
  z-index: 23;
} .minigame-container-4 {
  top: 44px;
  right: 342px;
  z-index: 24;
} .minigame-container-5 {
  top: -40px;
  right: 350px;
  z-index: 17;
} .minigame-container-6 {
  top: -26px;
  right: 325px;
  z-index: 18;
} .minigame-container-7 {
  top: -10px;
  right: 296px;
  z-index: 19;
} .minigame-container-8 {
  top: 4px;
  right: 270px;
  z-index: 20;
} .minigame-container-9 {
  top: -78px;
  right: 282px;
  z-index: 13;
} .minigame-container-10 {
  top: -63px;
  right: 256px;
  z-index: 14;
} .minigame-container-11 {
  top: -48px;
  right: 230px;
  z-index: 15;
} .minigame-container-12 {
  top: -33px;
  right: 203px;
  z-index: 16;
}

@media (max-width: 1279px) {
  .minigame {
    background-position-x: -190px;
    background-position-y: -200px;
  } .minigame-ship {
    max-width: 600px;
    right: 546px;
  } .crane-block {
    top: 7px;
    left: -45px;
  } .minigame-crane-header {
    max-width: 350px;
    top: 135px;
    right: 545px;
  } .minigame-crane-footer {
    max-width: 200px;
    right: 586px;
  } .crane-leg {
    width: 128px;
    top: 376px;
    right: 681px;
  } .rope {
    top: 162px;
    left: 407px;
    height: 140px;
  } .rope-container {
    width: 60px;
  } .minigame-train-block {
    top: 35px;
    right: -1030px;
  } .minigame-containers-block {
    top: 315px;
    right: -716px;
  } .ropeStart {
    animation-name: ropeStart1279;
  } .ropeEnd {
    animation-name: ropeEnd1279;
  } .ropeStart2 {
    animation-name: ropeStart1279-2;
  } .ropeEnd2 {
    animation-name: ropeEnd1279-2;
  }
  
  .minigame-container {
    max-width: 60px;
  } .minigame-container-1 {
    top: 0px;
    right: 418px;
  } .minigame-container-2 {
    top: 10px;
    right: 400px;
  } .minigame-container-3 {
    top: 20px;
    right: 383px;
  } .minigame-container-4 {
    top: 30px;
    right: 366px;
  } .minigame-container-5 {
    top: -27px;
    right: 369px;
  } .minigame-container-6 {
    top: -16px;
    right: 350px;
  } .minigame-container-7 {
    top: -6px;
    right: 333px;
  } .minigame-container-8 {
    top: 4px;
    right: 315px;
  } .minigame-container-9 {
    top: -53px;
    right: 320px;
  } .minigame-container-10 {
    top: -43px;
    right: 302px;
  } .minigame-container-11 {
    top: -33px;
    right: 284px;
  } .minigame-container-12 {
    top: -23px;
    right: 266px;
  }
} @media (max-width: 959px) {
  .minigame { 
    background-size: 1200px;
    background-position-x: -30px;
    background-position-y: -70px;
  } .minigame-ship {
    max-width: 440px;
    top: 34px;
    right: 352px;
  } .crane-block {
    top: -20px;
    left: -20px;
  } .minigame-crane-header {
    max-width: 360px;
    top: 30px;
    right: 350px;
  } .minigame-crane-footer {
    right: 394px;
    /* top: 160px; */
    top: 93px;
  } .crane-leg {
    top: 277px; 
    right: 492px;
  } .rope {
    top: 60px;
    left: 262px;
    height: 120px;
  } .rope-container {
    width: 55px;
  } .minigame-train-block {
    top: 35px;
    right: -689px;
  } .minigame-containers-block {
    top: 211px;
    right: -244px;
  } .ropeStart {
    animation-name: ropeStart960;
  } .ropeEnd {
    animation-name: ropeEnd960;
  } .ropeStart2 {
    animation-name: ropeStart960-2;
  } .ropeEnd2 {
    animation-name: ropeEnd960-2;
  }
  
  
  .minigame-container {
    max-width: 55px;
  } .minigame-container-1 {
    top: 3px;
    right: -54px;
  } .minigame-container-2 {
    top: 12px;
    right: -70px;
  } .minigame-container-3 {
    top: 22px;
    right: -86px;
  } .minigame-container-4 {
    top: 32px;
    right: -102px;
  } .minigame-container-5 {
    top: -22px;
    right: -97px;
  } .minigame-container-6 {
    top: -13px;
    right: -113px;
  } .minigame-container-7 {
    top: -3px;
    right: -129px;
  } .minigame-container-8 {
    top: 7px;
    right: -147px;
  } .minigame-container-9 {
    top: -46px;
    right: -141px;
  } .minigame-container-10 {
    top: -37px;
    right: -157px;
  } .minigame-container-11 {
    top: -27px;
    right: -173px;
  } .minigame-container-12 {
    top: -18px;
    right: -191px;
  }
} @media (max-width: 650px) and (orientation: portrait) {
  .minigame-lock {
    display: flex;
    opacity: 1;
    transition: 0;
  } .minigame-lock__title {
    display: inline;
  }
} @media (max-width: 650px) and (orientation: landscape) {
  .minigame {
    background-size: 1000px;
    background-position-x: 0;
    background-position-y: -100px;
  } .minigame-ship {
    max-width: 300px;
    top: 62px;
    right: 215px;
  } .crane-block {
    top: -79px;
    left: 100px;
  } .minigame-crane-header {
    max-width: 275px;
    top: 115px;
    right: 296px;
  } .minigame-crane-footer {
    max-width: 145px;
    top: 165px;
    right: 334px;
  } .crane-leg {
    width: 87px;
    top: 299px;
    right: 407px;
  } .rope {
    top: 135px;
    left: 90px;
    height: 80px;
  } .minigame-train-block {
    top: 72px;
    right: -425px;
  } .minigame-train {
    width: 150px;
  } .minigame-railway-carriage {
    width: 135px;
  } .railway-carriage-1 {
    top: -44px;
    right: -327px;
  } .railway-carriage-2 {
    top: -105px;
    right: -439px;
  } .railway-carriage-3 {
    top: -166px;
    right: -551px;
  } .minigame-containers-block {
    top: 210px;
    right: -99px;
  } 
  
  .minigame-container-3 {
    top: -23px;
    right: 405px;
    z-index: 6;
  }  .minigame-container-6 {
    top: -85px;
    right: 292px;
    z-index: 7;
  } .minigame-container-8 {
    /* top: -49px; */
    /* right: 290px; */
    top: -47px;
    right: 280px;
    z-index: 5;
  } .minigame-container-9 {
    top: -55px;
    right: 293px;
    z-index: 4;
  } .minigame-container-10 {
    top: -63px;
    right: 306px;
    z-index: 3;
  } .minigame-container-11 {
    top: -66px;
    right: 286px;
    z-index: 6;
  } .minigame-container-12 {
    top: -74px;
    right: 300px;
    z-index: 5;
  }
}

/* @keyframes trainStart {
  0% {
    top: 115px;
    right: -1442px;
  } 100% {
    top: 576px;
    right: -600px;
  }
} @keyframes trainEnd {
  0% {
    top: -865px;
    right: -238px;
  } 100% {
    top: -1465px;
    right: -838px;
  } 
} */

@keyframes ropeStart {
  0% {
    top: 100px;
    left: 580px;
    height: 200px;
  } 25% {
    top: 100px;
    left: 580px;
    height: 300px;
  } 50% {
    top: 100px;
    left: 580px;
    height: 200px;
  } 75% {
    top: 220px;
    left: 800px;
    height: 200px;
  } 100% {
    top: 220px;
    left: 800px;
    height: 370px;
  }
} @keyframes ropeEnd {
  0% {
    top: 220px;
    left: 800px;
    height: 370px;
  } 50% {
    top: 220px;
    left: 800px;
    height: 200px;
  } 100% {
    top: 100px;
    left: 580px;
    height: 200px;
  } 
} @keyframes ropeStart2 {
  0% {
    top: 100px;
    left: 580px;
    height: 200px;
  } 25% {
    top: 100px;
    left: 580px;
    height: 300px;
  } 50% {
    top: 100px;
    left: 580px;
    height: 200px;
  } 75% {
    top: 263px;
    left: 870px;
    height: 200px;
  } 100% {
    top: 263px;
    left: 870px;
    height: 287px;
  }
} @keyframes ropeEnd2 {
  0% {
    top: 263px;
    left: 870px;
    height: 287px;
  } 50% {
    top: 263px;
    left: 870px;
    height: 200px;
  } 100% {
    top: 100px;
    left: 580px;
    height: 200px;
  } 
}

@keyframes ropeStart1279 {
  0% {
    top: 162px;
    left: 407px;
    height: 140px;
  } 25% {
    top: 162px;
    left: 407px;
    height: 170px;
  } 50% {
    top: 162px;
    left: 407px;
    height: 140px;
  } 75% {
    top: 222px;
    left: 502px;
    height: 140px;
  } 100% {
    top: 222px;
    left: 502px;
    height: 250px;
  }
} @keyframes ropeEnd1279 {
  0% {
    top: 222px;
    left: 502px;
    height: 250px;
  } 50% {
    top: 222px;
    left: 502px;
    height: 140px;
  } 100% {
    top: 162px;
    left: 407px;
    height: 140px;
  } 
} @keyframes ropeStart1279-2 {
  0% {
    top: 162px;
    left: 407px;
    height: 140px;
  } 25% {
    top: 162px;
    left: 407px;
    height: 170px;
  } 50% {
    top: 162px;
    left: 407px;
    height: 140px;
  } 75% {
    top: 222px;
    left: 572px;
    height: 140px;
  } 100% {
    top: 222px;
    left: 572px;
    height: 212px;
  }
} @keyframes ropeEnd1279-2 {
  0% {
    top: 222px;
    left: 502px;
    height: 250px;
  } 50% {
    top: 222px;
    left: 502px;
    height: 140px;
  } 100% {
    top: 162px;
    left: 407px;
    height: 140px;
  } 
}

@keyframes ropeStart960 {
  0% {
    top: 60px;
    left: 262px;
    height: 120px;
  } 25% {
    top: 60px;
    left: 262px;
    height: 180px;
  } 50% {
    top: 60px;
    left: 262px;
    height: 120px;
  } 75% {
    top: 128px;
    left: 391px;
    height: 120px;
  } 100% {
    top: 128px;
    left: 391px;
    height: 230px;
  }
} @keyframes ropeEnd960 {
  0% {
    top: 128px;
    left: 391px;
    height: 230px;
  } 50% {
    top: 128px;
    left: 391px;
    height: 120px;
  } 100% {
    top: 60px;
    left: 262px;
    height: 120px;
  } 
} @keyframes ropeStart960-2 {
  0% {
    top: 60px;
    left: 262px;
    height: 120px;
  } 25% {
    top: 60px;
    left: 262px;
    height: 180px;
  } 50% {
    top: 60px;
    left: 262px;
    height: 120px;
  } 75% {
    top: 150px;
    left: 442px;
    height: 120px;
  } 100% {
    top: 150px;
    left: 442px;
    height: 175px;
  }
} @keyframes ropeEnd960-2 {
  0% {
    top: 150px;
    left: 442px;
    height: 175px;
  } 50% {
    top: 150px;
    left: 442px;
    height: 140px;
  } 100% {
    top: 60px;
    left: 262px;
    height: 140px;
  } 
}







/* @media (max-width: 900px) and (orientation: landscape) {
  .minigame {
    background-size: 1000px;
    background-position-x: 0;
    background-position-y: 0;
  } .minigame-ship {
    max-width: 300px;
    top: 114px;
    right: 380px;
  } .minigame-crane-header {
    max-width: 250px;
    top: 106px;
    right: 352px;
  } .minigame-crane-footer {
    max-width: 130px;
    top: 158px;
    right: 394px;
  }
} */
/* @media (max-width: 900px) and (min-width: 705px) and (min-height: 500px) {
  .minigame {
    background-size: 1400px;
    background-position-x: -140px;
    background-position-y: -47px; 
    //background-position-x: -190px;
    //background-position-y: -200px
  } .minigame-ship {
    max-width: 440px;
    top: 135px;
    right: 380px;
  } .minigame-crane-header {
    top: 90px;
    right: 345px;
  } .minigame-crane-footer {
    right: 394px;
    top: 160px;
  } .minigame-containers-block {
    top: 315px;
    right: -163px;
  }
} */